apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-todo-app-deployment
  namespace: default
  labels:
    app: flask-todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-todo-app
  template:
    metadata:
      labels:
        app: flask-todo-app
    spec:
      containers:
      - name: flask-todo-app
        image: erhardikfreelancer/flask-todo-app:176
        env:
            - name: MYSQL_HOST
              value: mysql
            - name: MYSQL_USER
              value: root
            - name: MYSQL_PASSWORD
              value: mysecretpassword
            - name: MYSQL_DB
              value: mysql
        ports:
        - containerPort: 5000

