name: CI-CD Pipeline

on:
  push:
    paths-ignore:
      - 'deployment/**'

env:
  IMAGE_NAME: erhardikfreelancer/flask-todo-app
  
jobs:

  checkout_build:
    name: Checkout code and build an image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
      security-events: write
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Build a Docker image
        run: docker build -t ${{ env.IMAGE_NAME }}:${{ github.run_number }} .

      - name: Run Snyk to check Docker image for vulnerabilities
        continue-on-error: true
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
            image: ${{ env.IMAGE_NAME }}:${{ github.run_number }}
            args: --file=Dockerfile --severity-threshold=medium
            
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk.sarif
          
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: checkout_build
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
      
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Push Docker image
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ github.run_number }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

  update_deployment:
    name: Update image tag in deployment file
    runs-on: ubuntu-latest
    needs: push_to_registry
    permissions:
      contents: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
    
      - name: Update image tag
        run: |
          IMAGE_TAG="$(awk '/[${{ env.IMAGE_NAME }}]/ {print $2}' deployment/flask-deployment.yml | cut -d ":" -sf 2)"
          sed -i "s/$IMAGE_TAG/${{ github.run_number }}/g" deployment/flask-deployment.yml
          git config user.email "srhardikpatel@gmail.com"
          git config user.name "srhardikpatel"
          git add deployment/flask-deployment.yml
          git commit -m "Update deployment image to version ${{ github.run_number }} [skip ci]"
          git push
