name: CI-CD Pipeline

on:
  push:

env:
  LATEST_TAG: erhardikfreelancer/flask-Todo-App:${{ GITHUB_RUN_NUMBER }}
  
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write

    steps:
      - name: Set Greeting
        run: echo $LATEST_TAG
        shell: bash
