name: CI-CD Pipeline

on:
  push:

env:
  IMAGE_NAME: erhardikfreelancer/flask-todo-app
  
jobs:

  checkout_build:
    name: Checkout code and build an image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Build a Docker image
        run: docker build -t ${{ env.IMAGE_NAME }}:${{ github.run_number }} .

      - name: Run Snyk to check Docker image for vulnerabilities
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
            image: ${{ env.IMAGE_NAME }}:${{ github.run_number }}
            args: --severity-threshold=high
    
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: checkout_build
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
      
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Push Docker image
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ github.run_number }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

  update_deployment:
    name: Update image tag in deployment file
    runs-on: ubuntu-latest
    needs: push_to_registry
    permissions:
      contents: write
    steps:      
      - name: Update image tag
        run: |
          IMAGE_TAG="$(grep "${{ env.IMAGE_NAME }}" -- deployment/flask-deployment.yml | awk '{print $2}' | cut -d ":" -f 2)"
          sed -i "s/$IMAGE_TAG/${{ github.run_number }}/g" deployment/flask-deployment.yml
          git config user.email "srhardikpatel@gmail.com"
          git config user.name "srhardikpatel"
          git add deployment/flask-deployment.yml
          git commit -m "Update deployment image to version ${{ github.run_number }} [skip ci]"
          git push
