name: CI-CD Pipeline

on:
  push:

env:
  IMAGE_NAME: erhardikfreelancer/flask-todo-app
  
jobs:

  checkout_build:
    name: Checkout code and build an image
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Build a Docker image
        run: docker build -t ${{ env.IMAGE_NAME }}:${{ github.run_number }} .

      - name: Run Snyk to check Docker image for vulnerabilities
        continue-on-error: true
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
            image: ${{ env.IMAGE_NAME }}:${{ github.run_number }}
            args: --file=Dockerfile --severity-threshold=high
            
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk.sarif
    
