name: CI-CD Pipeline

on:
  push:

jobs:

  checkout_build:
    name: Checkout code and build an image
    runs-on: ubuntu-latest
    
    steps:
      - name: Use dynamic variable in multiline bash
        run: |
          grep "erhardikfreelancer/flask-todo-app" deployment/flask-deployment.yml
          # 1. Define a variable (available to all lines in this step)
          #DYNAMIC_VALUE="$(grep "erhardikfreelancer/flask-todo-app" -- deployment/flask-deployment.yml)"
          
          # 2. Use the variable in the next lines within the same run block
          #echo "The value on line 2 is: $DYNAMIC_VALUE"
          #echo "The value on line 3 is: ${DYNAMIC_VALUE}"
