name: CI-CD Pipeline

on:
  push:

env:
  IMAGE_NAME: erhardikfreelancer/flask-todo-app

jobs:

  checkout_build:
    name: Checkout code and build an image
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Update deployment file
        run: echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-6)"
      - name: Test
        run: echo $GITHUB_SHA_SHORT
