name: CI-CD Pipeline

on:
  push:
    branches: [main]

jobs:

  build:
    name: Build image and upload
    runs-on: ubuntu-latest
    steps:
      - name: Build
        uses: actions/checkout@v4
        run: docker build -t erhardikfreelancer/flaskapp:${BUILD_NUMBER}.
