name: CI-CD Pipeline

on:
  push:
    paths-ignore:
      - 'deployment/**'

env:
  IMAGE_NAME: erhardikfreelancer/flask-todo-app
  
jobs:

  checkout_build:
    name: Checkout code and build an image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
      security-events: write
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
    
      - name: Update image tag
        run: |
          IMAGE_TAG="$(awk -v str="${{ env.IMAGE_NAME }}" '$2 ~ str {print $2}' deployment/flask-deployment.yml | cut -d ":" -sf 2)"
          echo $(IMAGE_TAG)
