name: CI-CD Pipeline

on:
  push:

env:
  IMAGE_NAME: erhardikfreelancer/flask-todo-app
  
jobs:

  checkout_build:
    name: Checkout code and build an image
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      
      - name: Use dynamic variable in multiline bash
        run: |
          # 1. Define a variable (available to all lines in this step)
          DYNAMIC_VALUE="$(grep "${{ IMAGE_NAME }}" -- deployment/flask-deployment.yml)"
          
          # 2. Use the variable in the next lines within the same run block
          echo "The value on line 2 is: $DYNAMIC_VALUE"
          echo "The value on line 3 is: ${DYNAMIC_VALUE}"
