name: CI-CD Pipeline

on:
  push:

env:
  IMAGE_NAME: erhardikfreelancer/flask-todo-app

jobs:

  checkout_build:
    name: Checkout code and build an image
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Update deployment file
        run: |
          echo "IMAGE_TAG=$(grep "${{ env.IMAGE_NAME }}" -- deployment/flask-deployment.yml | awk '{print $2}' | cut -d ":" -f 2)"
          echo "value $IMAGE_TAG"
